.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-message{
    color: red;
    font-size: small;
    font-weight: 500;
    margin: 5px;
}